.product {
    display: flex;
    flex: 1 1 auto;
    width: 50%;
    
}

.card {
    position: relative;
    flex-direction: column;
    word-wrap: break-word;
}

.img {
    max-height: 300px;
    width: 200%;
    object-fit: contain;
}

.details {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    width: 200%;
}
